* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-container {
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 153, 255, 0.767);
    
}
.menu {
    display: flex;
    align-items: center;
    color: gainsboro;
    justify-content: space-between;
    width: 900px;
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 200px;
}

.social,
.subscribe {
    width: 100px;
}

.awesome {
    width: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.content-container {
    display: flex;
    justify-content: center;
}

.content {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.footer {
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

.footer-item {
    height: 180px;
    margin: 1px;
    flex: 1;
    background-color: burlywood;
}

.one,
.three {
    flex: initial;
    width: 300px;
    background-color: aqua;
}
